aws_region        = "us-east-1"
project_name      = "foton-ev"
environment       = "prod"

custom_domain_names  = ["higgsenergia.com.br", "www.higgsenergia.com.br"]
enable_custom_domain = false
manage_route53_zone  = true

active_runtime_region          = "us-east-1"
us_frontend_origin_domain_name = "replace-with-us-frontend-bucket-regional-domain"
us_api_origin_domain_name      = "replace-with-us-api-alb-domain"
